*{box-sizing: border-box;}
*{font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

body{
    background-image: url("/Images/pic.jpg");
    margin: 20px;
    background-size: cover;
    border-radius: 100px;
    font-weight: bold;
    font-size: large;
}

.jumbotron{
    padding: 20px;
    border-radius: 10px;
  }

h1{
    color: brown;
    fill: aqua;
}
  
header{
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.tasks,.taskList,.date,.complete,.delete{
    padding: 5px;
    background-color: beige;
    margin: 2px;
    border-radius: 10px;
    word-spacing: normal;
    display: flex;
}
@media only screen and (min-width: 600px) {
    #sort{
        margin-left:55px;
    }
};
#sort{
    margin-left: 0px;
}
.sortList{
    display: flex;
    background-color: lightgray;
    font-weight:bold;
    font-size:15px;
    border: dotted 2px black;
    justify-content: center;
    width: auto;
}
#sortedDate{
  margin-left: 10%;
}
#sortHead{
    margin-top: 50px;
    text-align: center;
}
label{
    font-size: x-large;
}

.main{
    padding: 10px;
    width:100%;
    height: 100%;
    background-color:rgb(244, 243, 186);
    border-radius: 20px;
}
@media only screen and (max-width: 600px) {
    .tasks,.taskList,.date,.complete,.delete,#taskForm{
        display: flex;
        flex-direction: column;
        width: fit-content;
    };
}; 

    

